header {
    padding: 20px 0;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-card img{
    max-width: 300px;
    width: 90%;
}

.product-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.add-product-container {
    max-width: 1100px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs {
    margin-bottom: 20px;
}
.main-page-link {
    background-color: #a05a5a;
    padding: 10px;
    color: white;
}
.actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.name-input,
.image-input,
.submit-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.submit-input {
    cursor: pointer;
    transition-duration: .2s;
}
.submit-input:not(:disabled):hover {
    background-color: #9d9292;
}

.name-input::placeholder {
    color: #868080;
}

.product-card {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    text-align: center;
}

.product-card img {
    border-radius: 5px;
}

.product-card a,
.product-card button {
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.product-card button {
    background-color: #dc3545;
}

.no-products-message {
    text-align: center;
  }