@font-face {
  font-family:'3d_unicode';
  src: url(../fonts/3d_unicode.ttf);
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #153a58;
}
.logo {
  background-color: rgb(103 143 186 / 70%);
}
.logo img{
  width: 100px;
  user-select: none;
}

.arts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}

.arts h3{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: white;
  letter-spacing: 3px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product{
  text-align: center;
  font-size: 2rem;
}

.product .name {
  font-family:'3d_unicode';
}
.product img{
  max-width: 800px;
  max-height: 400px;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: block;
}

.no-products-message {
  text-align: center;
}

/* fullscreen */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.fullscreen img {
  /* width: 90%; */
}
.adjust-by-width {
  width: -webkit-fill-available;
}
.adjust-by-height {
  height: -webkit-fill-available;
}
/* responsive */
@media (max-width: 1200px){
  .product img{
    max-width: 600px;
  }
}
@media (max-width: 991px){
  .product img{
    max-width: 500px;
  }
}
@media (max-width: 580px){
  .arts {
    padding: 2rem;
  }
  .product img{
    max-width: 400px;
  }
}