<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/style/admin-panel.css">
</head>

<body>
    <header>
        <a class="main-page-link" href="{{ url_for('home') }}">Home</a>
    </header>
    <div class="add-product-container">
        <form class="inputs" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name(class="name-input", placeholder="Product Name") }}
            {{ form.img(class="image-input", accept='.jpeg, .jpg, .png') }}
            {{ form.submit(class="submit-input", disabled="true") }}
        </form>
        <div class="product-container">
            {% if products %}
                {% for product in products %}
                    <div class="product-card">
                        <img src="{{ url_for('static', filename=product.img) }}" alt="Product Image">
                        <h2 class="name">{{ product.name }}</h2>
                        <div class="actions-wrapper">
                            <a href="{{ url_for('edit_product', index=product.id) }}">Edit Product</a>
                            <form method="post" action="{{ url_for('remove_product', index=product.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Remove Product</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-products-message">No products available</div>
            {% endif %}
            
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const nameInput = document.querySelector('.name-input');
            const imageInput = document.querySelector('.image-input');
            const submitButton = document.querySelector('.submit-input');

            nameInput.addEventListener('input', validateInputs);
            imageInput.addEventListener('change', validateInputs);

            function validateInputs() {
                if (nameInput.value.trim() !== '' && imageInput.value !== '') {
                    submitButton.removeAttribute('disabled');
                } else {
                    submitButton.setAttribute('disabled', 'disabled');
                }
            }
        });
    </script>
</body>

</html>
